<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
  layout:decorate="~{layout/layout}">
  <head>
    <title>Merchant Grid</title>
  </head>
  <section layout:fragment="content">
    <div class="card border-success bg-light text-secondary">
	  <h5 class="card-header">Merchant Grid</h5>
	  <div class="card-body">
	    <div th:if="${gridSuccess}">
          <div class="alert alert-success alert-dismissible fade show" role="alert">
            <i class="fas fa-check"></i> <span th:text="${gridSuccess}"></span>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
		      <span aria-hidden="true">&times;</span>
		    </button>
		  </div>
        </div>
	    <div id="gridSuccess" class="d-none">
          <div class="alert alert-success alert-dismissible fade show" role="alert">
            <i class="fas fa-check"></i> <span id="gridMessageSuccess"></span>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
		      <span aria-hidden="true">&times;</span>
		    </button>
		  </div>
        </div>
        <div th:if="${gridFailure}">
          <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <i class="fas fa-times"></i> <span th:text="${gridFailure}"></span>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
		      <span aria-hidden="true">&times;</span>
		    </button>
		  </div>
        </div>
        <div id="gridFailure" class="d-none">
          <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <i class="fas fa-times"></i> <span id="gridMessageFailure"></span>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
		      <span aria-hidden="true">&times;</span>
		    </button>
		  </div>
        </div>
        <table id="merchantGrid" class="table table-bordered table-hover w-100 nowrap">
	      <thead class="thead-light">
	        <tr>
	          <th scope="col">ID</th>
			  <th scope="col">Merchant ID</th>
			  <th scope="col">Code</th>
	          <th scope="col">Name</th>
	          <th scope="col">Password</th>
	          <th scope="col">Actions</th>
	        </tr>
	      </thead>
	      <tfoot class="thead-light">
	        <tr>
	          <th scope="col">ID</th>
			  <th scope="col">Merchant ID</th>
			  <th scope="col">Code</th>
	          <th scope="col">Name</th>
	          <th scope="col">Password</th>
	          <th scope="col">Actions</th>
	        </tr>
	      </tfoot>
	    </table>
	  </div>
	</div>
	<div class="modal fade" id="merchantConfirm" tabindex="-1" role="dialog" aria-labelledby="merchantConfirm" aria-hidden="true">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h5 class="modal-title">Confirmation</h5>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <div class="modal-body">
	        <p>Are you sure?</p>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-success" data-dismiss="modal"><i class="fas fa-times"></i> No</button>
	        <button type="button" class="btn btn-danger" id="yesConfirm"><i class="fas fa-check"></i> Yes</button>
	      </div>
	    </div>
	  </div>
	</div>
	<div class="modal fade" id="merchantView" tabindex="-1" role="dialog" aria-labelledby="merchantView" aria-hidden="true">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h5 class="modal-title" id="merchantViewTitle"></h5>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <div class="modal-body">
            <table class="table">
		      <tbody>
		        <tr class="table-borderless">
		          <td>ID</td>
		          <td id="merchantId"></td>
		        </tr>
		        <tr>
		          <td>Merchant ID</td>
		          <td id="merchantMId"></td>
		        </tr>
		        <tr>
		          <td>Code</td>
		          <td id="merchantCode"></td>
		        </tr>
		        <tr>
		          <td>Name</td>
		          <td id="merchantName"></td>
		        </tr>
		        <tr>
		          <td>Password</td>
		          <td id="merchantPassword"></td>
		        </tr>
		      </tbody>
		    </table>
	      </div>
	    </div>
	  </div>
	</div>
	<div class="modal fade" id="merchantEdit" tabindex="-1" role="dialog" aria-labelledby="merchantEdit" aria-hidden="true">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h5 class="modal-title" id="merchantEditTitle"></h5>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <div class="modal-body">
	        <form th:action="@{/edit-merchant-form}" method="post">
	          <input type="hidden" id="id" name="id">
			  <div class="form-group row">
			    <div class="col">
			      <label>Merchant ID</label>
	    		  <input type="text" class="form-control" id="mId" name="mId" placeholder="Enter merchant ID..." value="" required>
			    </div>
			    <div class="col">
	    		  <label>Code</label>
	    		  <input type="password" class="form-control" id="code" name="code" placeholder="Enter code..." value="" required>
			    </div>
			  </div>
			  <div class="form-group row">
			    <div class="col">
	    		  <label>Name</label>
	    		  <input type="text" class="form-control" id="name" name="name" placeholder="Enter name..." value="" required>
			    </div>
			    <div class="col">
	    		  <label>Password</label>
	    		  <input type="password" class="form-control" id="password" name="password" placeholder="Enter password..." value="" 
	    		  	required>
			    </div>
			  </div>
			  <div class="form-group row mb-0">
		        <div class="col d-flex justify-content-end">
		          <button type="reset" class="btn btn-sm btn-danger mr-3"><i class="fas fa-eraser"></i> Reset</button>
		          <button type="submit" class="btn btn-success"><i class="fas fa-save"></i> Save</button>
		        </div>
		      </div>
			</form>
	      </div>
	    </div>
	  </div>
	</div>
  </section>
</html>