<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
  layout:decorate="~{layout/layout}">
  <head>
    <title>Role Grid</title>
  </head>
  <section layout:fragment="content">
    <div class="card border-success bg-light text-secondary">
	  <h5 class="card-header">Role Grid</h5>
	  <div class="card-body">
	    <div th:if="${gridSuccess}">
          <div class="alert alert-success alert-dismissible fade show" role="alert">
            <i class="fas fa-check"></i> <span th:text="${gridSuccess}"></span>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
		      <span aria-hidden="true">&times;</span>
		    </button>
		  </div>
        </div>
	    <div id="gridSuccess" class="d-none">
          <div class="alert alert-success alert-dismissible fade show" role="alert">
            <i class="fas fa-check"></i> <span id="gridMessageSuccess"></span>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
		      <span aria-hidden="true">&times;</span>
		    </button>
		  </div>
        </div>
        <div th:if="${gridFailure}">
          <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <i class="fas fa-times"></i> <span th:text="${gridFailure}"></span>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
		      <span aria-hidden="true">&times;</span>
		    </button>
		  </div>
        </div>
        <div id="gridFailure" class="d-none">
          <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <i class="fas fa-times"></i> <span id="gridMessageFailure"></span>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
		      <span aria-hidden="true">&times;</span>
		    </button>
		  </div>
        </div>
        <table id="roleGrid" class="table table-bordered table-hover w-100">
	      <thead class="thead-light">
	        <tr>
	          <th scope="col">ID</th>
			  <th scope="col">Name</th>
			  <th scope="col">Privileges</th>
			  <th scope="col">Users</th>
	          <th scope="col">Actions</th>
	        </tr>
	      </thead>
	      <tfoot class="thead-light">
	        <tr>
	          <th scope="col">ID</th>
			  <th scope="col">Name</th>
			  <th scope="col">Privileges</th>
			  <th scope="col">Users</th>
	          <th scope="col">Actions</th>
	        </tr>
	      </tfoot>
	    </table>
	  </div>
	</div>
	<div class="modal fade" id="roleConfirm" tabindex="-1" role="dialog" aria-labelledby="roleConfirm" 
	  aria-hidden="true">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h5 class="modal-title">Confirmation</h5>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <div class="modal-body">
	        <p>Are you sure?</p>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-success" data-dismiss="modal"><i class="fas fa-times"></i> No</button>
	        <button type="button" class="btn btn-danger" id="yesConfirm"><i class="fas fa-check"></i> Yes</button>
	      </div>
	    </div>
	  </div>
	</div>
	<div class="modal fade" id="roleView" tabindex="-1" role="dialog" aria-labelledby="roleView" 
	  aria-hidden="true">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h5 class="modal-title" id="roleViewTitle"></h5>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <div class="modal-body">
            <table class="table">
		      <tbody>
		        <tr class="table-borderless">
		          <td>ID</td>
		          <td id="roleId"></td>
		        </tr>
		        <tr>
		          <td>Name</td>
		          <td id="roleName"></td>
		        </tr>
		        <tr>
		          <td>Privileges</td>
		          <td id="rolePrivileges" class="too-long"></td>
		        </tr>
		        <tr>
		          <td>Users</td>
		          <td id="roleUsers" class="too-long"></td>
		        </tr>
		      </tbody>
		    </table>
	      </div>
	    </div>
	  </div>
	</div>
	<div class="modal fade" id="roleEdit" tabindex="-1" role="dialog" aria-labelledby="roleEdit" 
	  aria-hidden="true">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h5 class="modal-title" id="roleEditTitle"></h5>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <div class="modal-body">
	        <form th:action="@{/edit-role-form}" method="post">
	          <input type="hidden" id="id" name="id">
			  <div class="form-group row">
			    <div class="col">
			      <label>Name</label>
	    		  <input type="text" class="form-control" id="name" name="name" placeholder="Enter name..." value="" required>
			    </div>
			    <div class="col">
			      <label>Privileges</label>
			      <select class="custom-select" id="privileges" name="privileges" size="5" required multiple>
					<option th:each="privilege:${privileges}" th:value="${privilege.getName()}" th:text="${privilege.getName()}"></option>
				  </select>
			    </div>
			  </div>
			  <div class="form-group row mb-0">
		        <div class="col d-flex justify-content-end">
		          <button type="reset" class="btn btn-sm btn-danger mr-3"><i class="fas fa-eraser"></i> Reset</button>
		          <button type="submit" class="btn btn-success"><i class="fas fa-save"></i> Save</button>
		        </div>
		      </div>
			</form>
	      </div>
	    </div>
	  </div>
	</div>
  </section>
</html>